.sidebar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.sidebarItem p {
  padding: 30px;
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 100%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  color: #555;
  text-align: center;
  line-height: 20px;
}

.sidebarImg {
  margin-top: 15px;
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}

.sidebarList {
  margin: 20px 0;
  list-style-type: none;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcon {
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}
